<h1>Pedidos Realizados</h1>

<div class="orders-grid">

  <% @orders.each do |order| %>

    <div class="order-card">

      <!-- HEADER -->
      <div class="order-header">
        <div>
          <strong>Pedido #<%= order.id %></strong>
        </div>

        <div class="order-status <%= order.status %>">
          <%= order.status.capitalize %>
        </div>
      </div>


      <% if current_user.admin? %>
      <!-- CLIENTE -->
      <div class="order-section">
        <h4>Cliente</h4>

        <p><strong>Email:</strong> <%= order.user.email %></p>
        <p><strong>Telefone:</strong> <%= order.user.telefone %></p>
        <p><strong>CPF:</strong> <%= order.user.cpf %></p>

        <p>
          <strong>Endereço:</strong>
          <%= order.user.adress %>,
          <%= order.user.number %>
        </p>

        <p>
          <strong>CEP:</strong> <%= order.user.cep %>
          <% if order.user.complement.present? %>
            - <%= order.user.complement %>
          <% end %>
        </p>
      </div>
      <% end %>


      <!-- ITENS -->
      <div class="order-section">
        <h4>Itens do Pedido</h4>

        <% order.order_items.each do |item| %>

          <div class="order-item">

            <div class="item-info">
              <strong><%= item.product.name %></strong>
              <span>Qtd: <strong><%= item.quantity %></strong></span>
              <span>Tamanho:<strong><%=item.variant.size%></strong></span>
            </div>

            <div class="item-price">
              <p>
                Unitário:
                <%= number_to_currency(item.product.price, unit: "R$ ") %>
              </p>

              <p>
                Desconto:
                <%= item.product.discount %>%
              </p>

              <p>
                Total:
                <strong>
                <%= number_to_currency(
                  (item.product.discounted_price_cents / 100.0) * item.quantity,
                  unit: "R$ "
                ) %>
                </strong>
              </p>

            </div>

          </div>

        <% end %>
      </div>


      <!-- TOTAL -->
      <div class="order-total">

        Total do Pedido

        <strong>
          <%= number_to_currency(order.total, unit: "R$ ") %>
        </strong>

      </div>


      <!-- AÇÕES -->
      <% if ["pending", "canceled"].include?(order.status) && order.user == current_user %>

        <div class="order-actions">

          <%= button_to "Retomar Compra",
            checkout_stripe_path(order_id: order.id),
            method: :post,
            data: { turbo: false },
            class: "resume-button" %>

        </div>

      <% end %>

    </div>

  <% end %>

</div>
