<section class="product-show">
  <div class="product-show-grid">

    <div class="product-image">
      <% if @product.image.attached? %>
        <%= image_tag @product.image, alt: @product.name %>
      <% end %>
    </div>

    <div class="product-info">
      <h1><%= @product.name %></h1>

      <% if @product.discount > 0 %>
        <p class="old-price">
          <%= number_to_currency(@product.price, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
        </p>

        <p class="price">
          <%= number_to_currency(@product.discounted_price_cents / 100.0, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
        </p>

        <span class="badge">-<%= @product.discount %>%</span>
        <span class="badge pulse">Restam apenas: <%= @product.variants.sum(:stock) %> unidades!</span>
      <% else %>
        <p class="price">
          <%= number_to_currency(@product.price, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
        </p>
      <% end %>

      <p class="description">
        <%= @product.description %>
      </p>
      <div class="sizes">
        <p>Tamanho:</p>

        <div class="size-selector">
          <% @product.variants.each do |variant| %>

            <label class="size-option">

              <input
                type="radio"
                name="variant"
                value="<%= variant.id %>"
                <%= "disabled" if variant.stock <= 0 %>
              >

              <span><%= variant.size %></span>

            </label>

          <% end %>
        </div>
      </div>
      <div class="product-actions">
        <%if @product.variants.sum(:stock) == 0%>
          <button disabled id="disable-button">Produto Indisponível</button>
        <%else%>
          <%= button_to "Adicionar ao Carrinho",
            cart_items_path(product_id: @product.id),
            method: :post,
            id: "buy-button",
            params: { variant_id: nil }%>
        <%end%>
      </div>
    </div>

  </div>
</section>
<script>
document.querySelectorAll("input[name='variant']").forEach(input => {

  input.addEventListener("change", () => {

    const variantId = input.value
    console.log(variantId);

    const form = document.querySelector("#buy-button").closest("form")

    let hidden = form.querySelector("input[name='variant_id']")

    if(!hidden){
      hidden = document.createElement("input")
      hidden.type = "hidden"
      hidden.name = "variant_id"
      form.appendChild(hidden)
    }

    hidden.value = variantId

  })

})
</script>
